.board {
    margin-bottom: 100px;
}

.boardTitle {
    padding-bottom: 20px;
}

.box {
    margin-bottom: 10px;
    border-bottom : 1px solid gainsboro;
}

.name {
    margin-left:10%;
    padding-top:2px;
}

.icon {
   float: left; 
}

.title {
    margin-left:40px;
    margin-bottom:0;
}

.bookmark {
    float:right;
    margin-right: 7px;

}

.comment {
    float:right;
    margin-right: 5px;
}

.language {
    width:30px;
    height:30px;
    float: right
}