.replyModalQuill .ql-container {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 15rem;
    background: #ffffff;
}

.replyModalQuill .ql-snow .ql-toolbar {
    display: block;
    background: #dfe6ba;
    height: 15rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.replyModalQuill .ql-editor {
    height: 15rem;
    white-space: pre-wrap;
    word-wrap: "break-word";
    word-break: "break-word";
}

.replyQuill .ql-container {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: #ffffff;
}

.replyQuill .ql-snow .ql-toolbar {
    display: block;
    background: #dfe6ba;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.replyQuill .ql-editor {
    min-height: 4rem;
    white-space: pre-wrap;
    word-wrap: "break-word";
    word-break: "break-word";
}


.postQuill .ql-container {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: #ffffff;
    width: 100%;
}

.ql-snow.ql-toolbar {
    display: block;
    background: #dfe6ba;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.postQuill .ql-editor {
    min-height: 30rem;
    max-height: 30rem;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: "break-word";
    word-break: "break-word";
}